asn1crypto==0.24.0
bleach==2.1.4
configparser==3.5.0
cryptography==2.1.4
decorator==4.3.0
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
html5lib==1.0.1
idna==2.6
ipaddress==1.0.17
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
mistune==0.8.3
nbformat==4.4.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
testpath==0.3.1
traitlets==4.3.2
webencodings==0.5.1
